@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Yeseva One";
  src: url("assets/fonts/yeseva-one/YesevaOne-Regular.ttf");
}

:root {
  --primary-background: #1f1c1d;
  --secondary-background: #181617;
  --primary-color: #fff;
  --secondary-color: #a07b50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--primary-background);
  color: var(--primary-color);
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Yeseva One", sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 36px;
  text-align: center;
}

a {
  appearance: none;
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  appearance: none;
  border: none;
  color: inherit;
  font-size: 18px;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.link {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid var(--secondary-color);
  padding: 18px 35px;
}

.intro {
  background-color: var(--secondary-background);
  height: 684px;
  background-image: url("assets/images/intro/cat.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 186px;
  position: relative;
}

.intro__city {
  margin-bottom: 18px;
}

.intro__title {
  width: 350px;
}

.intro__text {
  margin-left: 202px;
}

.intro__description {
  margin-top: 31px;
  margin-bottom: 54px;
  width: 330px;
}

.intro__links {
  position: absolute;
  bottom: 28px;
  left: 79px;
  display: flex;
  flex-direction: column;
  width: 15px;
  align-items: center;
}

.intro__links::before {
  content: "";
  display: block;
  width: 1px;
  background-color: #fff;
  opacity: 0.61;
  height: 77px;
  margin-bottom: 24px;
}

.intro__links a {
  width: 100%;
  text-align: center;
  padding: 7px 0;
}

.intro__crown-wrap {
  position: absolute;
  top: 25px;
  width: 100%;
  text-align: center;
}

.pets {
  padding-top: 223px;
  padding-bottom: 83px;
}

.pets__description {
  text-align: center;
  width: 532px;
  margin: 23px auto 0;
}

.pets__toggle {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.pets__button {
  padding: 0 13px;
  opacity: 20%;
}

.pets__button--select {
  opacity: 1;
}

.pets__images {
  display: grid;
  gap: 30px;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
}

.pets__image {
  width: 100%; /*чтобы растянуть картинку на всю ширину сетки*/
  height: 100%; /*чтобы не исказились пропорции картинки*/
  object-fit: cover; /*чтобы картинка покрывала полностью свое пространство не искажаясь*/
}

.pets__image--right {
  grid-column-start: 2; /*колонка начинается со второй линии*/
  grid-row-start: 1; /*строка начинается с 1-й линии*/
  grid-row-end: 3; /*заканчивается с рыжим котом*/
}

.pets__show-more {
  display: block;
  margin: 0 auto;
  margin-top: 55px;
  width: fit-content;
}

.pets__features {
  text-align: center;
  width: 750px;
  margin: 23px auto 0;
}

.cat-features {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 631px;
  width: 631px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  margin: 145px auto;
}

.cat-features__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 519px;
  width: 519px;
  border-radius: 50%;
  border: 1px solid var(--secondary-background);
  margin: 0 auto;
  background-color: #181617;
}

.features {
  position: absolute;
}

.outer-circle {
  position: absolute;
  background-color: #a07b50;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 31px;
  top: 146px;
}
